<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>

    <div id="content" class="text-center mt-5 md:w-1/2 mx-auto">

        <div data-th-replace="message :: messagebox"></div>

        <!-- <h1 class="text-2xl text-red-900">Email not verified !! Something went wrong !!</h1> -->
        
        <button class="bg-gray-900 mt-2 text-white px-3 py-2 rounded">Login</button>
        
    </div>  

    
    <script>
        console.log("This is HOME PAGE");
    </script>
</body>
</html>